@model List<XProduct>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div>
    <table class="table">
        <caption>Monthly savings</caption>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
            <tr>
                <td>@product.ID</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td><a asp-action="Details" asp-route-id="@product.ID">Details</a></td>
            </tr>
            }
        </tbody>
    </table>
</div>